@import 'modules';

.blog {
  @include full-height-with-footer;
  padding: 5em;
  overflow: auto;
  background: #1d1d1d;

  @include if-landscape {
  }

  .btn-see-more {
    display: inline-block;
    border: 1px solid #000;
    font-family: "Bushcraft One";
    font-size: 1.3em;
    padding: 0.2em 2em 0;
    color: $text-dark;
    position: relative;
    top: 1em;
    background: white;
  }
  .btn{
    position: relative;
    top: 1em;
  }


  .gallery {
    position: relative;
    padding: 0 3em;
    @include if-mobile {
      padding: 0;
    }
    @include if-large-desktop{
      padding: 0;
      top:0
    }
    .gallery__slide {
      height:100%;
      @include if-landscape {
        width:25%;
      }
        @include if-large-desktop{
        padding: 0;
        top:0
      }
    }
    .gallery__body {
      @include if-mobile {
        margin: 0;
      }
      @include if-large-desktop {
        padding: 0;
        top:0;
      }
      background: white;
      text-align: left;
      border: 0.15em solid $text-dark;
      margin: 0 2em;
      overflow: hidden;
      img {
        height: 33vh;
        width: 100%;
        object-fit: cover;
        @include if-landscape {

        }
      }
      .text{
        height: 17vh;
        min-height: 116px;
        text-align:center;
        @include if-tablet-and-smaller {
          min-height: 80px;
        }
        @include if-large-desktop {

        }
        h3 {
          font-size: 1.1em;
          padding: 0.5em 1em 0 1em;
          font-family: 'Helvetica';
          text-transform: uppercase;
          font-weight: normal;
          text-shadow:none;
        }
        p {
          font-size: 1em;
          font-family: 'Helvetica';
          font-weight: lighter;
          color: black;
          padding: 0 1.2em;
          text-shadow:none;
          text-align: center;
        }
        a{
          font-size: .8em;
          font-family: 'Helvetica';
          font-weight: lighter;
          padding: 0 1.2em;
          text-shadow:none;
          color: #767676;
          text-decoration: underline;
          text-transform: uppercase;
          &:hover, &:focus {
            color:$text-orange;
          }
        }
      }
    }

    .gallery__navigation {
      position: absolute;
      color: $text-light;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3em;
      z-index: 1;
      &:hover, &:focus {
        color:$text-orange;
      }

      &.gallery__navigation--prev {
        left: -1em;

        @include if-landscape {
          left: 0;
        }
      }

      &.gallery__navigation--next {
        right: -1em;

        @include if-landscape {
          right: 0;
        }
      }
    }
  }
}