@import 'modules';

.blog-entry{
  width:60vw;
  margin:0 auto;
  height:auto;
  position: relative;
  @include if-mobile{
    width:90vw;
  }

  .blog__content{
    padding-bottom: 2em;
    border-bottom: 1px solid $text-grey;
    .feature-image{
      width:100%;
         object-fit: cover;
    }
    h1 {
      font-family: "Bushcraft Textured";
      line-height: 1.2em;
      color: $text-dark;
      padding: 1em 1em 0 1em;
      font-size: 3em;
      cursor: pointer;
    }
    h2 {
      font-family: "Bushcraft Textured";
      line-height: 1em;
      color: $text-dark;
      padding: 1em 1em 0 1em;
      font-size: 2em;
      cursor: pointer;
    }
    h3 {
      font-size: 0.9em;
      padding: 0.5em 1em 0 1em;
      font-family: 'Helvetica';
      text-transform: uppercase;
      font-weight: normal;
      text-shadow:none;
    }

    p{
        font-size: 1em;
        font-family: 'Helvetica';
        font-weight: lighter;
        color: $text-dark;
        padding: 0 1.2em;
        text-shadow:none;
        padding: 0 1.2em;
        text-align: center;
    }

    table, th, td {
      border:1px solid $text-grey;
    }
    table {
      margin-bottom: 1em;
      margin-top:1em;
      width: 100%;
    }
    a{
      color: black;
      text-decoration: underline;
      &:hover {
        color: $text-orange;
      }
    }
  }
}


.blog__section{
  margin-top:2em;
  width:60vw;
  overflow: hidden;
  @include if-mobile {
    width:90vw
  }

  .blog__entries{


    .blog__slide {
      float:left;
      @include if-landscape {
      }
    }

    .blog__body{
      margin: 2.5%;
      position: relative;
      h3 {
        font-size: 0.9em;
        padding: 0.5em 1em 0 1em;
        font-family: 'Helvetica';
        text-transform: uppercase;
        font-weight: normal;
        text-shadow:none;
      }

      p {
        font-size: 0.8em;
        font-family: 'Helvetica';
        font-weight: lighter;
        color: black;
        padding: 0 1.2em;
        text-shadow:none;
        text-align: center;
      }
      img {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 40vh;
      }
      a {
        font-size: 0.8em;
        text-transform: uppercase;
        color: #767676;
        text-decoration: underline;
      }
    }
  }
}
  .blog__navigation {
    position: absolute;
    color: $text-dark;
    top: 80%;
    transform: translateY(-50%);
    font-size: 5em;
    z-index: 1;
    &.blog__navigation--prev {
      left: -1em;
      @include if-mobile {
        left:-0.4em;
      }
    }
    &.blog__navigation--next {
      right: -1em;
      @include if-mobile {
        right:-0.4em;
      }
  }
}