  @import 'modules';

footer {
  background: $text-dark;
  width: 100vw;
  height: $footer-height;
  font-family: "Gotham Book";
  padding: $navbar-height / 2;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;

  br {
    display: none;
  }

  @include if-mobile {
    justify-content: space-between;
    br {
      display: inline-block;
    }
  }

  .brand {
    position: absolute;
    left: $navbar-height / 2;
    top: $navbar-height / 4;

    img {
      height: $nav-img-height;
    }

    @include if-tablet-and-smaller {
      position: relative;
      margin-right: auto;
      left: auto;
      top: auto;
    }
    @include if-mobile {
      display: none;
    }
  }

  .links {
    text-transform: uppercase;
    font-size: 0.9em;

    li {
      display: inline-block;
    }
    li+li::before{
      content:' | ';
      color: lighten($text-dark, 30);
    }

    a {
      white-space: nowrap;
    }



    // span {
      color: lighten($text-dark, 30);
    //   margin-left: 0.5em;
    // }

    @include if-tablet-and-smaller {
      font-size: .75em;
      text-align: center;
      padding: 0 1em;
      width: 100%;
    }

    @include if-mobile {
      font-size: .7em;
    }
  }

  .btn {
    width: 1.2em;
    height: 1.2em;
    display: flex;

    justify-content: center;
    font-size: 1.5em;
  }

  a {
    color: lighten($text-dark, 50);
    transition: color 0.2s;

    &:hover {
      color: #fff;
    }
  }
}