@import 'modules';

.hsiyfc {
  @include background('hsiyfc.jpg');
  display: flex;

  justify-content: flex-end;
  padding: $navbar-height;

  @include if-tablet-and-smaller {
    align-items: center;
     @include background-opacity('hsiyfc.jpg', 0.5);
  }

  .text-box {
    width: 45vw;
    text-align: left;

    @include if-tablet-and-smaller {
      width: 100%;
      text-align: center;
    }

    .price-buttons {
      &:hover button {
        opacity: 0.5;
      }

      button {
        &:hover {
          opacity: 1;
        }

        @include if-mobile {
          width: 100%;
        }
      }
    }
  }

  button {
    font-family: "Bushcraft Textured";
    color: #fff;
    font-size: 1.5em;
    border: 0.1em solid #fff;
    padding: 0.1em 0.4em 0 0.4em;
    width: 49.2%;
    margin-bottom: 0.4em;
    transition: 0.2s;

    @include if-mobile {
      width: 70%;
      border: 0.1em solid #fff;
    }
  }

  p {
    margin-bottom: 1em;
  }

  a.left-navigation, a.right-navigation {
    @include if-tablet {
      font-size: 2em;
    }

    @include if-mobile {
      font-size: 1.5em;
    }
  }
}
