@import 'modules';

#blog-page{
  @include full-height-with-footer;

  .blog__hero{

    img{
      height: 45vh;
      // height: auto;
      width: 100%;
      object-fit: cover;
    }

    .text{
      padding: 1em 0;
      background-color: $text-dark;
      // height:8em;
      // @include height-with-header-footer(10vh)
      text-align: center;

      h3 {
        font-size: 1.1em;
        // padding: 0.5em 1em 0 1em;
        font-family: 'Helvetica';
        color: $text-light;
        text-transform: uppercase;
        font-weight: normal;
        text-shadow:none;
      }

      p {
        font-size: 1em;
        font-family: 'Helvetica';
        font-weight: lighter;
        color: $text-light;
        // padding: 0 1.2em;
        text-shadow:none;
        text-align: center;
        // width:50vw;
        margin:0 auto;
      }
    }
  }
  .blog__gallery{
    // @include height-with-header-footer(45vh)
    // height:45vh;
    height:35vh;

    @include if-mobile {
      padding: 0;
    }

    .blog__slide {
      @include if-landscape {
        // height:40vh;
        // width: 50vh;
        height:35vh;
        display: inline-block;
        width:24%;
      }
      // display: inline-block;
      height:35vh;
      width:24%;
      display:inline-block;
    }
    .blog__body{
      // width:25%;
      height:35vh;


      img{

      }
      .text{
        height:30%;
        border-right:1px solid $text-light;

      }
      h3 {
        font-size: 0.9em;
        padding: 0.5em 1em 0 1em;
        font-family: 'Helvetica';
        text-transform: uppercase;
        // text-align: center;
        font-weight: normal;
        text-shadow:none;
        // color:$text-light;
      }

      p {
        font-size: 0.8em;
        font-family: 'Helvetica';
        font-weight: lighter;
        color: black;
        padding: 0 1.2em;
        text-shadow:none;
        // color:$text-light;
        text-align: center;
      }
      img {
        // height: 25vh;
        width: 100%;
        object-fit: cover;
        height: 70%;

        // @include if-landscape {
        //   width: auto;
        //   height: 100%;
        // }
      }
      a {
        font-size: 0.8em;
        text-transform: uppercase;
        color: #a7a7a7;
        text-decoration: underline;
      }
    }
  }
  .blog__navigation {
    position: absolute;
    color: $text-light;
    top: 75%;
    transform: translateY(-50%);
    font-size: 3em;
    z-index: 1;

    &.blog__navigation--prev {
      left: 0em;

      @include if-landscape {
        left: 0;
      }
    }

    &.blog__navigation--next {
      right: 0em;

      @include if-landscape {
        right: 0;
      }
    }
  }
}