@import 'modules';

.blog-entry{
  width:60vw;
  margin:0 auto;
  height:auto;
  position: relative;
  @include if-mobile{
    width:90vw;
  }

  .blog__content{
    padding-bottom: 2em;
    border-bottom: 1px solid $text-grey;
    .feature-image{
      width:100%;
      object-fit: cover;
    }
    h1 {
      font-family: "Bushcraft Textured";
      line-height: 1.2em;
      color: $text-dark;
      padding: 1em 1em 0 1em;
      font-size: 3em;
      // cursor: pointer;
    }
    h2 {
      font-family: "Bushcraft Textured";
      line-height: 1.2em;
      color: $text-dark;
      padding: 1em 1em 0 1em;
      font-size: 2em;
      // cursor: pointer;
    }
    h3 {
      font-family: "Bushcraft Textured";
      line-height: 1.2em;
      color: $text-dark;
      padding: 1em 1em 0 1em;
      font-size: 1em;
      // cursor: pointer;
    }
    h4 {
      font-size: 1.2em;
      padding: 0.5em 1em 0 1em;
      font-family: 'Helvetica';
      text-transform: uppercase;
      font-weight: normal;
      text-shadow:none;
    }
    h5 {
      font-size: 1em;
      padding: 0.5em 1em 0 1em;
      font-family: 'Helvetica';
      text-transform: uppercase;
      font-weight: normal;
      text-shadow:none;
    }
    h6 {
      font-size: 0.9em;
      padding: 0.5em 1em 0 1em;
      font-family: 'Helvetica';
      text-transform: uppercase;
      font-weight: normal;
      text-shadow:none;
    }

    p{
        font-size: 1em;
        font-family: 'Helvetica';
        font-weight: lighter;
        color: $text-dark;
        padding: 0 1.2em;
        text-shadow:none;
        padding: 0 1.2em;
        text-align: center;
    }
    ul, ol{
      margin-left:6em;
      text-align: left
    }
    li {
        font-size: 1em;
        font-family: 'Helvetica';
        font-weight: lighter;
        color: $text-dark;
        padding: 0 1.2em;
        text-shadow:none;
        padding: 0 1.2em;
        // text-align: center;
    }

    table, th, td {
      border:1px solid $text-grey;
    }
    table {
      margin-bottom: 1em;
      margin-top:1em;
      width: 100%;
    }
    a{
      color: black;
      text-decoration: underline;
      &:hover {
        color: $text-orange;
      }
    }
  }
}


.blog__section{
  position: relative;
  margin-top:2em;
  width:60vw;
  overflow: hidden;
  @include if-mobile {
    width:90vw
  }

  .blog__entries{


    .blog__slide {
      float:left;
      @include if-landscape {
      }
    }

    //   }
    .blog__body{
      margin: 2.5%;
      position: relative;
      h3 {
        font-size: 0.9em;
        padding: 0.5em 1em 0 1em;
        font-family: 'Helvetica';
        text-transform: uppercase;
        font-weight: normal;
        text-shadow:none;
      }

      p {
        font-size: 0.8em;
        font-family: 'Helvetica';
        font-weight: lighter;
        color: black;
        padding: 0 1.2em;
        text-shadow:none;
        text-align: center;
      }


      a {
        &:hover, &:focus {
          img {
            opacity: 0.8;
          }
        }
      }
      img {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 40vh;
      }
      a {
        font-size: 0.8em;
        text-transform: uppercase;
        color: #767676;
        text-decoration: underline;
        &:hover, &:focus {
          color:$text-orange;
        }
        @include if-large-desktop {
          font-size: 1em
        }
      }
    }
  }

  .blog__navigation {
    position: absolute;
    color: $text-dark;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
    height:100%;
    width:1em;
    z-index: 1;
    &.blog__navigation--prev {
      // left: -1em;
      left:0;
      text-align: left;
      background:linear-gradient(to right, white , transparent);
      // @include if-mobile {
      //   left:-0.4em;
      // }
    }
    &.blog__navigation--next {
      // right: -1em;
      background:linear-gradient(to left, white , transparent);
      right:0;
      text-align: right;
      // @include if-mobile {
      //   right:-0.4em;
      // }
      }
      &:hover{
        color: $text-orange;

      }
      &:focus {
        outline:0;
      }
    }
}