@import 'modules';
.one_page{
  overflow:hidden;
}
.blog-page{
  @include full-height-with-footer;

  .blog__hero{
    position: relative;
    img{
      // height: 60vh;
      width: 100%;
      // left: 0;
      object-fit: cover;
    }
  }
  .hero__text{
    position: relative;
    width:100%;
    .text{
      padding: 1em 0;
      background-color: $text-dark;
      position: relative;
      bottom:0;
      text-align: center;


      h3 {
        font-size: 1.1em;
        font-family: 'Helvetica';
        color: $text-light;
        text-transform: uppercase;
        font-weight: normal;
        text-shadow:none;
      }

      p {
        font-size: 1em;
        font-family: 'Helvetica';
        font-weight: lighter;
        color: $text-light;
        text-shadow:none;
        text-align: center;
        margin:0 auto;
      }
    }
  }
  .blog__list{
    position: relative;
    background-color: white;
    width:100%;

    .blog__gallery{
      @include if-mobile {
        padding: 0;
      }

      .blog__slide {
        @include if-landscape {
          height:35vh;
          display: inline-block;
          width:24%;
        }
        height:35vh;
        width:24%;
        display:inline-block;
      }
      .blog__body{
        height:100%;
        img {
          width: 100%;
          object-fit: cover;
          height: 70%;
          &:hover, &:focus {
            .text{
              a{
                color:$text-orange;
              }
            }
          }
        }
        .text{
          border-right:1px solid $text-light;
          background-color: white;
          h3 {
            font-size: 0.9em;
            padding: 0.5em 1em 0 1em;
            font-family: 'Helvetica';
            text-transform: uppercase;
            font-weight: normal;
            text-shadow:none;
            @include if-large-desktop {
              font-size: 1.2em
            }
          }
          p {
            font-size: 0.8em;
            font-family: 'Helvetica';
            font-weight: lighter;
            color: black;
            padding: 0 1.2em;
            text-shadow:none;
            text-align: center;
            @include if-large-desktop {
              font-size: 1em
            }
          }
          a {
            font-size: 0.8em;
            text-transform: uppercase;
            color: #767676;
            text-decoration: underline;
            &:hover, &:focus {
              color:$text-orange;
            }
            @include if-large-desktop {
              font-size: 1em
            }
          }
        }
      }
    }
  }
  .blog__navigation {
    position: absolute;
    color: $text-light;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    z-index: 1;
    height: 100%;
    width: 1em;

    &.blog__navigation--prev {
      left: 0em;
      text-align: left;
      &:hover, &:focus, &:active{
        background:linear-gradient(to right, $text-dark , transparent);
      }

      @include if-landscape {
        left: 0;
      }
    }

    &.blog__navigation--next {
      right: 0em;
      text-align: right;
      &:hover, &:focus, &:active{
        background:linear-gradient(to left, $text-dark , transparent);
      }
      &:focus {
        outline:none;
      }

      @include if-landscape {
        right: 0;
      }
    }
  }
}