@import 'modules';

#blog-page{
  @include full-height-with-footer;

  .blog__hero{
    img{
      height: 60vh;
      width: 100%;
      left: 0;
      object-fit: cover;
    }
  }
  .blog{
    bottom:3em;
    position: fixed;
        // min-height: 275px;
    background-color: white;
    width:100%;
    .hero__text{
      .text{
        padding: 1em 0;
        background-color: $text-dark;
        position: relative;
        bottom:0;
        text-align: center;


        h3 {
          font-size: 1.1em;
          font-family: 'Helvetica';
          color: $text-light;
          text-transform: uppercase;
          font-weight: normal;
          text-shadow:none;
        }

        p {
          font-size: 1em;
          font-family: 'Helvetica';
          font-weight: lighter;
          color: $text-light;
          text-shadow:none;
          text-align: center;
          margin:0 auto;
        }
      }
    }
    .blog__gallery{
      @include if-mobile {
        padding: 0;
      }

      .blog__slide {
        @include if-landscape {
          height:35vh;
          display: inline-block;
          width:24%;
        }
        height:35vh;
        width:24%;
        display:inline-block;
      }
      .blog__body{
        height:100%;
        img {
          width: 100%;
          object-fit: cover;
          height: 70%;
        }
        .text{
          border-right:1px solid $text-light;
          background-color: white;
          h3 {
            font-size: 0.9em;
            padding: 0.5em 1em 0 1em;
            font-family: 'Helvetica';
            text-transform: uppercase;
            font-weight: normal;
            text-shadow:none;
          }
          p {
            font-size: 0.8em;
            font-family: 'Helvetica';
            font-weight: lighter;
            color: black;
            padding: 0 1.2em;
            text-shadow:none;
            text-align: center;
          }
          a {
            font-size: 0.8em;
            text-transform: uppercase;
            color: #a7a7a7;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .blog__navigation {
    position: absolute;
    color: $text-light;
    top: 60%;
    transform: translateY(-50%);
    font-size: 3em;
    z-index: 1;

    &.blog__navigation--prev {
      left: 0em;

      @include if-landscape {
        left: 0;
      }
    }

    &.blog__navigation--next {
      right: 0em;

      @include if-landscape {
        right: 0;
      }
    }
  }
}