@import 'modules';

.coburg {
  background: black;
  height: auto;
  padding: $navbar-height;
  text-align: left;

  h1, h2, h3, h4 {
    color: white;
    font-family: "Bushcraft Textured";
    margin: 0.5em 0;
  }

  h1 {
    font-size: 2em;
    margin-top: 0;
  }

  h2 {
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-family: "Helvetica";
    font-size: 1.1em;
    margin: 0.5em 0;
    line-height: 1.5em;
  }

  ol {
    color: white;
    margin-left: 2.5em;
  }
  .coburg-terms{

    li{
      padding-bottom: 1em;
    }
  }
  .sub-list{
    list-style: lower-alpha;
    li{
      padding-bottom:0;
    }

  }

  a {
    color: white;
    text-decoration: underline;
  }
}