@import 'modules';

html, body, main {
  height: 100%;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  @include if-mobile{
    -webkit-overflow-scrolling: touch;
  }
}

form{
  label.error{
    text-align:left;
  }
  input.error{
    border:0.125em solid $errorMsgColor !important;
  }
  textarea.error{
    border:0.125em solid $errorMsgColor !important;
  }
  .error{
    color:$errorMsgColor !important;
    margin-bottom: 0 !important;
  }
}

html, body {
  font-family: $font-family;
  font-size: 10px;
  overflow: hidden;

  @include if-mobile {
    font-size: 10px;
  }
  @include if-mobile(3x) {
    font-size: 12px;
  }

  @include if-tablet {
    font-size: 10px;
  }

  @include if-tablet(2x) {
    font-size: 12px;
  }

  @include if-laptop {
    font-size: 12px;
  }

  @include if-desktop {
    font-size: 14px;
  }

  @include if-large-desktop {
    font-size: 20px;
  }

  @include if-landscape {
    font-size: 10px;
  }

  @include if-ie {
    font-size: 14px;
  }
}

body {
  padding-top: $navbar-height;
}

section {
  @include full-height(1);
  width: 100vw;
  text-align: center;
}

button {
  cursor: pointer;
}

a, button, input, textarea {
  outline-color: $text-orange;
  color:$text-orange
}

h1, h2, h3, h4, p, li {
  cursor: text;
}

p {
  font-family: "Bushcraft Textured";
  line-height: 1.2em;
  color: #fff;
  font-size: 1.9em;
  margin: 0.5em 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  letter-spacing: .5px;

  .text-body {
    font-family: "Helvetica";
    font-size: 2em;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;

  &.row-columns {
    flex-direction: column;
  }

  .column {
    width: auto;
    height: auto;
  }
}

.align--start {
  align-self: flex-start;
}

.align--center {
  align-self: center;
}

.align--end {
  align-self: flex-end;
}

.text-orange {
  color: $text-orange;
  text-shadow: none;
}

.text-red {
  color: $text-red;
  text-shadow: none;
}

.text-dark {
  color: $text-dark;
  text-shadow: none;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a.left-navigation, a.right-navigation {
    font-size: 3em;
    color: #fff;
  }

  button {
    font-family: "Bushcraft Textured";
    color: white;
    font-size: 4em;
    border: 0.05em solid #fff;
    padding: 0.1em 0.4em 0 0.4em;
  }
}

.btn {
  font-family: "Bushcraft Textured";
  padding: 0 .6em;
  height:2em;
  line-height: 2em;
  display:inline-block;
  font-size: 1.5em;
  border: 0.05em solid #fff;
  background: $text-dark;
  color: $text-dark;

  &.btn--transparent {
    background: transparent;
  }

  &.btn--back-to-top {
    position: fixed;
    right: 1em;
    bottom: 3em;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s linear;
    border: none;

    &.visible {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.btn--orange {
    background: $text-orange;
    border-color: $text-orange;
    &:hover, &:focus {
      background: $text-red;
      border-color: $text-red;
    }
  }

  &.btn--red {
    background: $text-red;
    border-color: $text-red;
    &:hover, &:focus {
      background: $text-orange;
      border-color: $text-orange;
    }
  }

  &.btn--white {
    background: white;
    color: $text-dark;
    &:hover, &:focus {
      background-color: $text-red;
      border-color: $text-red;
    }
  }

  &.btn--rounded {
    border-radius: 0.1em;
  }
}

.social-media-icons-fixed {
  position: fixed;
  left: 0;
  top: $navbar-height * 2;
  background: $navbar-background;
  z-index: 2;

  @include if-tablet-and-smaller {
    display: none;
  }

  li {
    margin: 1em;
    height: 2em;
    width: 2em;
    background: white;
    border-radius: 100%;
    display: flex;
    &:hover{
      background-color: $text-orange;
    }

    a {
      color: $text-dark;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


.newsletter-modal {
  position: fixed;
  left: 2em;
  bottom: 2em;
  z-index: 2;
  width: 40vw;
  background: white;
  border: 0.125em solid black;
  padding: 2em;
  text-align: left;
  align-self: flex-end;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s linear;

  &.visible {
    opacity: 1;
    transform: scale(1);
  }

  @include if-tablet-and-smaller {
    width: calc(100% - 4em);

    span.close {
      font-size: 1.75em;
    }
  }

  @include if-landscape {
    width: 50vw;
  }

  span.close {
    color: black;
    position: absolute;
    top: 0.1em;
    right: 0.3em;
    cursor: pointer;
  }

  h3 {
    color: $text-red;
    font-family: "Bushcraft Textured";
    font-size: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1em;
  }

  form {
    font-family: "Bushcraft Textured";
    width: 100%;

    input {
      display: block;
      width: 100%;
      border: 0.125em solid black;
      margin-bottom: 1em;
      padding: 0.5em 1em;

      &[type="checkbox"] {
        width: auto;
        display: inline-block;
      }

      &:hover {
        cursor: text;
      }

      &::placeholder {
        color: lighten($text-dark, 25);
      }
    }

    label {
      display: block;
      cursor: pointer;
      a{
        color:$text-red;
      }
    }
  }

  .btn {
    font-size: 1.2em;
    float:right;
    color:black;

    @include if-mobile {
      width: 100%;
    }
  }

  .newsletter-modal--confirmation {
    display: none;

    p {
      font-size: 1.2em;
    }
  }
}

.nav-btn {
  position: fixed;
  left: 0;
  right: 0;
  display: inline-block;
  text-align: center;
  font-size: 3em;
  color: white;
  opacity: 0.8;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  cursor: pointer;

  @include if-tablet-and-smaller {
    display: none !important;
  }

  @include if-landscape {
    width: 2em;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-out;
    opacity: 0;
  }

  &.nav-btn--up {
    display: none;
    top: 1em;

    &:after {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));

      @include if-landscape {
        background: transparent;
      }
    }
  }

  &.nav-btn--down {
    bottom: 0;

    &:after {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));

      @include if-landscape {
        background: transparent;
      }
    }
  }
}

.hide {
  display: none;
}

.show-if-mobile {
  display: none;
}

@include if-mobile {
  .hide-if-mobile {
    display: none;
  }
  .show-if-mobile {
    display: block;
  }
}

@include if-landscape {
  .hide-if-landscape {
    display: none;
  }
}
