@import 'modules';

/*
 * Road Safety
 */

#road-safety {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  #drug-driving, #drink-driving, #drowsy-driving, #vehicle-safety, #distractions, #prepare-to-party {
    @include full-height(2);
    width: 33.33vw;
    flex-direction: column;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    @include if-tablet-and-smaller {
      @include full-height(3);
      width: 50vw;
    }

    h3 {
      font-family: "Bushcraft Textured";
      line-height: 1.2em;
      color: #fff;
      font-size: 2em;
      cursor: pointer;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    }

    p {
      @include font('Helvetica', 1em);
      display: none;
      cursor: pointer;
    }

    &:hover {
      p {
        display: inline-block;
        width: 100%;
      }
    }

    a{
      color:$text-orange;
    }
  }
}

#drug-driving {
  @include background('drug-driving.jpg');

  &:hover, &:active, &:focus {
    background: black;
  }
}

#drink-driving {
  @include background('drink-driving.jpg');

  &:hover, &:active, &:focus {
    background: black;
  }
}

#drowsy-driving {
  @include background('drowsy-driving.jpg');

  &:hover, &:active, &:focus {
    background: black;
  }
}

#distractions {
  @include background('distractions.jpg');

  &:hover, &:active, &:focus {
    background: black;
  }
}

#vehicle-safety {
  @include background('vehicle-safety.jpg');

  &:hover, &:active, &:focus {
    background: black;
  }
}

#prepare-to-party {
  @include background('prepare-to-party.jpg');

  &:hover, &:active, &:focus {
    background: black;
  }
}

#road-safety-info, #road-safety-drug, #road-safety-drowsy, #road-safety-vehicle, #road-safety-distractions, #road-safety-party, #road-safety-drink {
  color: white;
  position: relative;

  .text-box {

    width: 50vw;

    h2 {
      font-family: "Bushcraft Textured";
      font-size: 2em;
    }

    button, .button {
      font-family: "Bushcraft Textured";
      font-size: 1.2em;
      border: 0.15em solid white;
      padding: 0.4em 0.4em 0.2em;
      width: 30%;
      height: 3em;
      line-height: 1.2em;
      color: white;
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      align-items: center;

      @include if-mobile {
        padding-top: 0.8em;
        padding-bottom: 0.4em;
        width: 48%;
      }
    }

    p {
      font-family: $font-family;
      font-size: 1em;
      margin-bottom: 1.5em;
      line-height: 1.5em;
      @include if-mobile{
        margin-bottom: 0;
      }
    }
    // a{
    //   color:$text-orange;
    // }

    @include if-tablet-and-smaller {
      width: 80vw;
    }
  }
}

#road-safety-info {
  @include section(column);
  @include full-height(1);
  @include background-opacity('road-safety-intro.jpg', 0.5);
  background-position: bottom;

  .button {
  }

  .row:hover {
    .button {
      opacity: 0.5;
      transition: 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#road-safety-drink {
  @extend %info-section;

  .background {
    @include background('drink-driving.jpg');
    background-position: left;
  }
}

#road-safety-drug {
  @extend %info-section;

  .background {
    @include background('drug-driving.jpg');
  }
}

#road-safety-drowsy {
  @extend %info-section;

  .background {
    @include background('road-safety-drowsy.jpg');
  }
}

#road-safety-vehicle {
  @extend %info-section;
  @include full-height-with-footer;

  .background {
    @include background('vehicle-safety.jpg');
  }
}

#road-safety-distractions {
  @extend %info-section;

  .background {
    @include background('distractions.jpg');
  }
}

#road-safety-party {
  @extend %info-section;

  .background {
    @include background('prepare-to-party.jpg');
  }
}
