@import "modules";

#search {
  padding: 3em;
  background: #eee;
  height: auto;
  min-height: calc(100vh - #{$navbar-height});

  form {
    margin-bottom: 2em;

    input {
      background: white;
      width: 100%;
      padding: 1em 2em;
      font-family: "Bushcraft One", "FontAwesome";
    }
  }

  .result {
    background: white;
    padding: 2em;
    text-align: left;
    margin-bottom: 2em;

    .title {
      font-family: "Bushcraft Textured";
      font-size: 1.5em;
    }

    a {
      color: black;
      &:hover{
        color: $text-red;
        text-decoration: underline;
      }
    }

    p {
      font-family: $font-family;
      text-shadow: none;
      color: black;
      font-size: 1em;
      a{
        text-decoration: underline;

      }
    }
  }
  .pagination {
    text-align: center;
    ul{
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    li {
      display: inline;
      a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        &.active {
          background-color: $text-orange;
          color: white;
        }
        &:hover:not(.active) {
          background-color: #ddd;
        }
      }
    }
  }
}