@import "modules";

#search {
  padding: 3em;
  background: #eee;
  height: auto;
  min-height: calc(100vh - #{$navbar-height};

  form {
    margin-bottom: 2em;

    input {
      background: white;
      width: 100%;
      padding: 1em 2em;
      font-family: "Bushcraft One", "FontAwesome";
    }
  }

  article {
    background: white;
    padding: 2em;
    text-align: left;
    margin-bottom: 2em;

    h1 {
      font-family: "Bushcraft Textured";
      font-size: 1.5em;
    }

    a {
      color: black;
    }

    p {
      font-family: $font-family;
      text-shadow: none;
      color: black;
      font-size: 1em;
    }
  }
}