@import "include-media";
@import "variables";

@mixin size($width, $height: $width, $padding-top: 0) {
  width: $width;
  height: calc(#{$height} - #{$padding-top});
}

@mixin font($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
}

@mixin section($flex-direction: row) {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: $flex-direction;
  -webkit-flex-direction: $flex-direction;
}

@mixin background($image) {
  background: url($img-base-path + $image) center center;
  background-size: cover;
}

@mixin background-opacity($image, $opacity) {
  background: linear-gradient(rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity)), url($img-base-path + $image) center center;
  background-size: cover;
}

@mixin full-height($rows: 1) {
  height: calc((100vh / #{$rows}) - (#{$navbar-height} / #{$rows}));
}

@mixin square($rows: 1) {
  height: calc((100vh / #{$rows}) - (#{$navbar-height} / #{$rows}));
  width: calc((100vh / #{$rows}) - (#{$navbar-height} / #{$rows}));
}

@mixin social-media-panel($rows: 1) {
  width: calc(100vw + (100vh / #{$rows}) - (#{$navbar-height} / #{$rows}));
}

@mixin full-height-with-footer() {
  height: calc(100vh - #{$navbar-height} - #{$footer-height});
}

@mixin height-with-header-footer($height){
  height: calc(#{$height} - #{$navbar-height} - #{$footer-height});
}

@mixin button($size, $color: white) {
  @include font('Bushcraft Textured', $size);
  border: ($size / 10) solid $color;
  padding: 0.2em 0.5em 0;
  color: $color;
  opacity: 0.8;
  transition: 0.2s;
  &:hover {
    opacity: 1;
  }
}

@mixin if-mobile($device-pixel-ratio: 1x) {
  @include media('<=mobile', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-tablet($device-pixel-ratio: 1x) {
  @include media('>mobile', '<=tablet', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-tablet-and-smaller($device-pixel-ratio: 1x) {
  @include media('<=tablet', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-laptop($device-pixel-ratio: 1x) {
  @include media('>tablet', '<=laptop', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-laptop-and-smaller($device-pixel-ratio: 1x) {
  @include media('<=laptop', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-desktop($device-pixel-ratio: 1x) {
  @include media('>laptop', '<=desktop', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-desktop-and-smaller($device-pixel-ratio: 1x) {
  @include media('<=desktop', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-large-desktop($device-pixel-ratio: 1x) {
  @include media('>desktop', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin if-landscape($device-pixel-ratio: 1x) {
  @include media('landscape', '<tablet', 'retina#{$device-pixel-ratio}') {
    @content;
  }
}

@mixin if-1366($device-pixel-ratio: 1x) {
  @include media('>desktop', '<=1350px') {
    @content;
  }
}